body {
	background-color: #c3c3c3;
  	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%236d3060' fill-opacity='0.29' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#logo {
	height: 90%;
	margin-left: 1em;
	float: left;
	padding: 0.2em;
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo img {
	height: inherit;
	width: auto;
}

#title {
    float: left;
	padding: 0 1em 0 1em;
    display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	color: #fff;
}

#header button {
	height: 30px;
	width: 30px;
	border-style: none;
	border-radius: 13px;
	background-color: rgba(255, 255, 255, 0.3);
}

#g-button {
	height: 100%;
	padding: 0 1em 0 1em;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
}

#pluBu {
	background-image: url(../images/add.png);
	background-size: contain; 
}

#pluBu:hover {
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
}

.delete button{
	float: right;
	border-style: none;
	border-radius: 13px;
	height: 30px;
	width: 30px;
	background-color: rgba(63, 81, 181, 0.6);
}

.delete button#retBu{
	font-size: 17px;
	margin-right: 10px;
	width: auto;
}

.delete button#retBu:hover{
	background-color: rgba(63, 81, 181, 0.8);
	cursor: pointer;
}

[id^=delBu] {
	background-image: url(../images/delete.png);
	background-size: contain; 
}

[id^=delBu]:hover {
	background-color: rgba(63, 81, 181, 0.8);
	cursor: pointer;
}

#main-info h1 {
	font-family: "Proxima Nova", "Century Gothic", sans-serif;
	width: 0;
	margin-left: 1em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.m_content {
	background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
	font-family: "Josefin Sans";
}

.m_content h1 {
	font-family: "Proxima Nova";
}

.close {
	background-image: url(../images/delete.png);
	background-color: rgba(63, 81, 181, 0.6);
	background-size: contain; 
	background-repeat: no-repeat;
	border-radius: 13px;
	float: right;
	height: 30px;
	width: 30px;
}

.close:hover,
.close:focus {
	background-color: rgba(63, 81, 181, 0.8);
	cursor: pointer;
}

.add {
	background-image: url(../images/add.png);
	background-color: rgba(63, 81, 181, 0.6);
	background-size: contain; 
	background-repeat: no-repeat;
	border-radius: 13px;
	float: right;
	height: 30px;
	width: 30px;
	margin: 0 1em 0 1em;
}

.add:hover,
.add:focus {
	background-color: rgba(63, 81, 181, 0.8);
	cursor: pointer;
}

.form_container {
	margin-top: -1em;
	padding: 1em;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-flow: column;
	width: 90%;
}

.form_field {
	font-size: 1.1em;
	display: block;
	padding-bottom: 0.2em;
}

.form-group {
	margin: 1em 0 1em 0;
	width: 100%;
}

.form-control {
	font-size: 1.1em;
	padding: 0.5em 0 0.5em 0;
	width: 100%;
}

.time {
	display: flex;
	align-content: flex-end;
	justify-content: flex-end;
}

.time {
	font-family: "Century Gothic", sans-serif;
	border-radius: 360px;
	height: auto;
	width: auto;
	padding: 0 15px 0 15px;
	font-size: 9vw; 
}

.client-info {
	font-family: "Josefin Sans", "Century Gothic", sans-serif;
	font-size: 3vw;
}

.bike {
	border: none;
	background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 380px), screen and (max-height: 660px) {
	.client-info {
		font-size: 6vw;
	}
}