html,
body {
    margin: 0;
    padding: 0;
}

#header {
    position: fixed;
    top: 0;
    height: 60px;
    background-color: #3F51B5;
    width: 100%;
	font-family: "Century gothic", sans-serif;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
	z-index: 9999;
}

#content {
	padding: 1.5% 1.5% 0 1.5%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#main-info {
	background-color: rgba(255, 255, 255, 0.85);
	height: 60%;
	width: 100%;
	margin-bottom: 1.5%;
	display: flex;
}

#content .information {
	background-color: rgba(255, 255, 255, 0.6);
	height: 55%;
	padding: 1%;
	margin-bottom: 1.5%;
	
}

#container {
	position: absolute;
	top: 60px;
    bottom: 0;
	right: 0;
	left: 0;
	overflow-y: scroll;
}